.git
.gitignore
.env
.env.backup
.phpunit.result.cache
Dockerfile
docker-compose.yml
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
